In [2]:
import pandas as pd

In [18]:
csv_file_name = "address_seeds.csv"

column_country = "country"
column_pref = "pref"
column_city = "city"

In [15]:
df = pd.read_csv(csv_file_name)

In [16]:
df.head()

  country pref city
0      日本  北海道  札幌市
1      日本  北海道  函館市
2      日本  北海道  小樽市
3      日本  北海道  旭川市
4      日本  北海道  室蘭市

In [54]:
# 都道府県データを取得する
prefMap = {}
prefs = df[column_pref]

def getPrefList(index) :
            if (prefs.len <= index): 
            return
        
        print("test")
        if (index in prefs):
            print("ある")

In [55]:
getPrefList()